<p id="notice"><%= notice %></p>

<h1>Perfil: <%= @user.full_name %></h1>

<ul>
	<li>Localização: <%= @user.location %></li>
</ul>

<%= link_to 'Editar Perfil', edit_user_path(@user) %>

<%= link_to 'Home', root_path %>
