<p id="notice"><%= notice %></p>

<h1>Lista de livros</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.locatino %></td>
        <td><%= room.description %></td>
        <td><%= link_to 'Mostrar', room %></td>
        <td><%= link_to 'Editar', edit_room_path(room) %></td>
        <td><%= link_to 'Destroir', room, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo livro', new_room_path %>
